//Imports

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/_transitions';
@import '~bootstrap/scss/_nav';
@import '~bootstrap/scss/_navbar';
@import '~bootstrap/scss/_utilities';
@import '~bootstrap/scss/_images';
@import '~bootstrap/scss/_list-group';
@import '~bootstrap/scss/_carousel';
@import '~bootstrap/scss/_spinners';
@import '~bootstrap/scss/_jumbotron';
@import '~bootstrap/scss/_tooltip';
@import '~bootstrap/scss/_card';

//Sass Variables

$primary: #561010;

$secondary: #0A3434;
$sidebar-base-width: 17rem;
$white: #FFFFFF;
$defaultFont: 'Open Sans',
sans-serif;

// Custom Css
body {
  font-family: $defaultFont;
  padding-top: 54px;
  color: #444a50fc;

}


.homepage-text ul li {
  margin: 20px;
  color: $primary;
}
.homepage-text ul li p {
  color: #444a50fc;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}



a:hover,
a:active,
a:focus {
  color: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 3.5vw;
}

#Home h1 {
  font-size: 2.5vw;
  line-height: 1;
}
.homepageUL {
  padding-top: 10px;
  font-weight: 600;
  padding-bottom: 5px;
}

.homepageUL li p {
  font-weight: 400 !important;
  padding-left: 20px;
}
.HomeScoll{
  text-align: center;
margin-bottom: -36px;
background:transparent;
line-height: 35px;

}
.HomeScoll:hover{
cursor: pointer;
}
.fa-li{
  padding-top: 10px;
}


.divider
{
	position: relative;
	margin-top: 50px;
  height: 1px;

}
.enablelinks a{
  pointer-events:auto!important;
}
.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid $primary;
	border-right: 1px solid $primary;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, $primary, transparent);
}
.nav-bar {
  height: 1px;
  color: #460000;
  background-color: #460000;
  width: 80%;
  margin-bottom: 15px;
  border: none;
}

.iconadjust {
  position: absolute;
  bottom: 15px;
  left: 50px;
  margin: 0 auto;
  width: 180px;
  font-size: 14px;
}

@include media-breakpoint-down(xs) {
  h1 {
    font-size: 20px !important;
  }

  #Home h1 {
    font-size: 20px !important;
  }

 
}

@include media-breakpoint-up(xl) {
  h1 {
    font-size: 2.5rem !important;
  }
}

#Home h1 {
  font-size: 4.5rem !important;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.5rem;
}

p.lead {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: $defaultFont;
  font-size: 1.3rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
#sideNav{
  -webkit-box-shadow: 4px 0px 6px 0px rgba(20, 20, 20, 0.35);
  -moz-box-shadow:    4px 0px 6px 0px rgba(20, 20, 20, 0.35);
  box-shadow:         4px 0px 6px 0px rgba(20, 20, 20, 0.35);
}



@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;


  }

  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }

  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 4px solid #000;
    width: 500px;
    background-color: white;
   
  }

  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }

  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}



section.resume-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #FFFFFF;
  text-shadow: 1px 1px #21272d24;
}

.secondslider {

  z-index: 2;
  position: relative;pointer-events:none;
}
a, a:active, a:focus{

  outline: none; /* Works in Firefox, Chrome, IE8 and above */ 

}

@media (min-width: 992px) {
  section.resume-section {
     min-height: 90vh;
    padding-top: 1rem !important;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 2rem !important;
  }
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: #984545 !important;
}

a {
  color: $primary;
}

a:hover,
a:focus,
a:active {
  color: #dd3c64;
  text-decoration: none !important;
}

#sideNav {
  .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }

  .navbar-toggler {
    &:focus {
      outline-color: lighten($primary, 15%);
    }
  }
}

.jumbotron {
  background-color: #ECECEC !important;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: $sidebar-base-width;
    height: 100vh;

    .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;

      .img-profile {
        max-width: 10rem;
        max-height: 10rem;

        border: 7px solid #460000;
      }
    }

    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;

      .navbar-nav {
        flex-direction: column;
        width: 100%;

        .nav-item {
          display: block;

          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}


section.default {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;

}

hr {
  border-color: #a3a3a31c;
}

@media (min-width: 768px) {
  section.default {
    min-height: 100vh;
  }

}

.nav-link-icon {
  padding: 4px 7px;
  margin: 5px;
  background-color: white;
}

.nav-link-icon a {

  color: rgba(255, 255, 255, 0.5);
}

.nav-link-icon a:hover {

  color: rgba(255, 255, 255, 0.75);
}


.icon fa-icon {
  margin: 10px;
  padding: 10px;
  color: #7c9c9f;
  display: inline-flex;
}

.icon a {

  color: #333;
}

.iconspink {
  color: $primary;
}

@media (min-width: 992px) {
  section.default {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

footer {
  background-color: #343a40;
  color: #ffffff77;
  padding: 8px 0px 8px;
  text-shadow: 1px 1px #21272d77;
  font-size: 11px;
}

footer a {
  color: #ffffff77;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: #ffffff99;
  text-decoration: none;
}


@include media-breakpoint-down(xs) {


  #Clients .col-sm-8 {
    padding: 20px;
  }

  #References .col-10 .col-sm-8 {
    padding: 20px;
  }

}



.resume-section-default {
  min-height: auto !important;

  background-image: none !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+100;Orange+3D */
  background-color: $secondary  !important;
  ;
  /* Old browsers */

}

.ScrollUp:hover {
  color: #ffffff;
  cursor: pointer;
  bottom: 51px !important;
}

.ScrollUp { 
  z-index: 10;
  display: none;
  width: 30px;
  height: 30px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  color: #ffffff77;
  background-color: #343a40;
  text-shadow: 1px 1px #21272d77;
  padding: 10px;
  line-height: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* future proofing */
  -khtml-border-radius: 3px;
  /* for old Konqueror browsers */

}

//homepage
.FirstSlide {
  position: absolute;
  z-index: 2;
}


@include media-breakpoint-down(xs) {
  Home {
    text-align: center;
  }

  home h1 {
    font-size: 3em !important;
  }

  p.lead {
    font-size: 1.2rem;

  }
}

//Copywriting

.smallerli li {
  margin: 2px !important;
}





//SKILLS
.list-group a:nth-of-type(2n) .list-group-item {
  background-color: #ECECEC;
}

.circle-icon {
  background: #AD235E;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  //  vertical-align: middle;
  padding: 39px;
  display: block;
  color: #AD235E;
  background: #AD235E;
  background: white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e26887', endColorstr='#AD235E', GradientType=0);
  margin-bottom: 20px;
  border: #444 solid 7px;
}

.circle-icon svg {
  font-size: 50px;
}

.dot {
  font-size: 6px;
  vertical-align: middle;
  ;
}

.list-group-item:hover {
  cursor: pointer;
}

#Skills a {
  color: #444a50fc;
}


//Loves + Clients

.ColourGrid {

  color: #FFFFFF;

}


#References .ColourGrid {
  font-size: 1.5vw;
}

#Clients .ColourGrid {
  font-size: 1.3vw;
}

#Clients .col-sm-4 {
  padding: 0px;
}

#References .col-sm-4 {
  padding: 0px;
}


.ColourGrid:nth-of-type(odd) {
  background-color: #7D9C9F;
}

.ColourGrid:nth-of-type(even) {
  background-color: #460000;
}



@include media-breakpoint-down(xs) {

  .ColourGrid {
    font-size: 15px !important;
    min-height: 200px;
  }

}

@include media-breakpoint-down(md) {
  .sub-header {

    display: none;
  }
}

@include media-breakpoint-up(xl) {
  #References .ColourGrid {
    font-size: 30px !important;
  }
}

.sub-header {
  font-size: 18px !important;
}

.my-auto {
  width: 100%;
}

//Contact us
.contactusIcon {
  font-size: 2vw;

  min-width: 200px;
}

.contactusIcon a {
  margin-top: 10px;
  display: inline-block;
}

.mobilelogo {
  margin-right: 10px;
  background-color: white;
}

@include media-breakpoint-down(xs) {
  .contactusIcon {
    font-size: 20px !important;
  }

  .inner {
    padding: 20px 0px;
  }

  .outer {
    position: relative !important;
  }
}

@include media-breakpoint-up(xl) {
  .contactusIcon {
    font-size: 25px !important;
  }
}


.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;

}


//Testimonials




.card-body {

  text-transform: uppercase;
}
.SingleOverride{
  height: calc(100% - 8px)!important;
}


.tinyfade {
  position: relative;
}

.tinyfade>* {
  position: relative;
  width: 100%;
  opacity: 0;
  float: left;
  pointer-events: none
}

.tinyfade>:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.tinyfade:not(.tinyfade-js)>:first-child {
  opacity: 1;
  pointer-events: auto
}

.tinyfade-current {
  z-index: 2;
  opacity: 1;
  pointer-events: auto
}

.tinyfade-last {
  z-index: 1;
  opacity: 1;
  
}

.tinyfade picture {
  overflow: hidden;
}

.tinyfade picture img {

  max-height: calc(100vh - 20px);
  width: calc(100% + 20px);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  margin: -10px;
  overflow: hidden;

}

.tinyfade picture img:after {


  background-attachment:fixed;
  background-size:cover;
 
}
.tinyfade:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}


.colored-shadow {
  transform: scale(.94);
  top: 30px;
  filter: blur(12px); 
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  transition: opacity .45s;
  opacity: 0;
}
#testimonial .colored-shadow{
  top: 30px!important;
}

.card-header-image {
  position: relative;
  padding: 0;

}

.card-plain {
  background: 
  transparent;
  box-shadow: none;
}
.box {
  height: 100%;
}

.card {
    border: 0;
    border-radius: 6px;
    color: 
    rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.card .card-header.card-header-image {
  position: relative;
  padding: 0;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
}
.card-description{
  text-transform:none;
}



.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  -webkit-transition: opacity 0.5s 0s ease-in-out;
  -moz-transition: opacity 0.5s 0s ease-in-out;
  -o-transition: opacity 0.5s 0s ease-in-out;
  transition: opacity 0.5s 0s ease-in-out;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-trigger-text{
  cursor: pointer;
  color: $primary;
}
#testimonial .card-title {
  color: $primary;
}
.card-body{
  min-height: 240px;

}

.read-more-trigger {
  cursor: pointer;
  width: 40px;
  padding: 0 .5em;
  position: relative;
  right: Calc(-100%);
  margin-left: -48px;
  border-radius: 6px;  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: .25em;
}
.read-more-trigger:hover {
  -webkit-box-shadow: inset -3px -3px 5px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow:    inset -3px -3px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow:         inset -3px -3px 5px 0px rgba(0, 0, 0, 0.12);
}



#testimonial .card-body{
  padding-bottom:23px!important;
  padding-top:35px!important;
}
#testimonial .HoverCard:hover{
  box-shadow: 0 4px 2px 0 rgba(0,0,0,.14),0 3px 4px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}



#testimonial img{
  border-radius: 6px; 
}
#testimonial .card-category{
color: $secondary;
}

#testimonial  .row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
#testimonial  .row.display-flex > [class*='col-'] {
  flex-grow: 1;margin-bottom:40px;
}






.text { width: 50px; height: 2em; white-space: nowrap; overflow: hidden;  }
.backgroundsvg{
  background-image: url('/assets/images/heading.svg')!important;
  background-position: top right;
background-repeat: no-repeat;background-size: contain;
}

contact{
  min-height: calc(100vh - 33px);
  display: block;
}
inspo{
  min-height: calc(100vh - 33px);
  display: block;
}
loves{
  min-height: calc(100vh - 33px);
  display: block;
}
skills{
  min-height: calc(100vh - 33px);
  display: block;
}
successes{
  min-height: calc(100vh - 33px);
  display: block;
}
testimonials{
  min-height: calc(100vh - 33px);
  display: block;
}